
GLEX.xcodeproj/project.xcworkspace/xcshareddata/GLEX.xccheckout
GLEX.xcodeproj/project.xcworkspace/xcuserdata/lijia.xcuserdatad/UserInterfaceState.xcuserstate
GLEX.xcodeproj/xcuserdata/lijia.xcuserdatad/xcschemes/GLEX.xcscheme
GLEX.xcodeproj/xcuserdata/lijia.xcuserdatad/xcschemes/xcschememanagement.plist
